<section id="third-con">
  <div class="container">
    <div class="row">
    	<div class="container  text-center">
  <div class="row">
    <div class="col gx-5 text-center card-box">
    <div class="discount">
        <div><p>NEW</p></div>
        <div><p>-19%</p></div>
      </div>
      <div class="image-con">
      	<img width="288"height="349" src="{{section.settings.image1 | img_url: 'medium'}}" alt="{{ section.settings.heading-title }}">
      </div>
      <div class="item-description">
        <h3 class="item-name">{{section.settings.image1-name}}</h3>
        <p>{{section.settings.image1-price}}</p>
      </div>
    </div>
     <div class="col gx-5 text-center card-box">
    <div class="discount">
        <div><p>NEW</p></div>
        <div><p></p></div>
      </div>
      <div class="image-con">
        
      	<img width="288"height="349" src="{{section.settings.image2 | img_url: 'medium'}}" alt="{{section.settings.heading-title}}">
      </div>
      <div class="item-description">
        <h3 class="item-name">{{section.settings.image2-name}}</h3>
        <p>{{section.settings.image2-price}}</p>
      </div>
    </div>
    <div class="col gx-5 text-center card-box">
    <div class="discount">
        <div><p></p></div>
        <div><p>-19%</p></div>
      </div>
      <div class="image-con">
        
      	<img width="288"height="349" src="{{section.settings.image3 | img_url: 'medium'}}" alt="{{section.settings.heading-title}}">
      </div>
      <div class="item-description">
        <h3 class="item-name">{{section.settings.image3-name}}</h3>
        <p>{{section.settings.image3-price}}</p>
      </div>
    </div>
    <div class="col gx-5 text-center card-box">
    <div class="discount">
        <div><p>NEW</p></div>
        <div><p>-5%</p></div>
      </div>
      <div class="image-con">
        
      	<img width="288"height="349" src="{{section.settings.image4 | img_url: 'medium'}}" alt="{{section.settings.heading-title}}">
      </div>
      <div class="item-description">
        <h3 class="item-name">{{section.settings.image4-name}}</h3>
        <p>{{section.settings.image4-price}}</p>
      </div>
    </div>

    <div class="col gx-5 text-center card-box">
      <div class="discount">
          <div><p>NEW</p></div>
          <div><p></p></div>
        </div>
        <div class="image-con">
          
          <img width="288"height="349" src="{{section.settings.image5 | img_url: 'medium'}}" alt="{{section.settings.heading-title}}">
        </div>
        <div class="item-description">
          <h3 class="item-name">{{section.settings.image5-name}}</h3>
          <p>{{section.settings.image5-price}}</p>
        </div>
      </div>
      <div class="col gx-5 text-center card-box">
        <div class="discount">
            <div><p>NEW</p></div>
            <div><p>-30%</p></div>
          </div>
          <div class="image-con">
            <img width="288"height="349" src="{{section.settings.image6 | img_url: 'medium'}}" alt="{{section.settings.heading-title}}">
          </div>
          <div class="item-description">
            <h3 class="item-name">{{section.settings.image6-name}}</h3>
            <p>{{section.settings.image6-price}}</p>
          </div>
        </div>

        <div class="col gx-5 text-center card-box">
          <div class="discount">
              <div><p>NEW</p></div>
              <div><p>-10%</p></div>
            </div>
            <div class="image-con">
              
              <img width="288"height="349" src="{{section.settings.image7 | img_url: 'medium'}}" alt="{{section.settings.heading-title}}">
            </div>
            <div class="item-description">
              <h3 class="item-name">{{section.settings.image7-name}}</h3>
              <p>{{section.settings.image7-price}}</p>
            </div>
          </div>
          <div class="col gx-5 text-center card-box">
            <div class="discount">
                <div><p>NEW</p></div>
                <div><p></p></div>
              </div>
              <div class="image-con">
                
                <img width="288"height="349" src="{{section.settings.image8 | img_url: 'medium'}}" alt="{{section.settings.heading-title}}">
              </div>
              <div class="item-description">
                <h3 class="item-name">{{section.settings.image8-name}}</h3>
                <p>{{section.settings.image8-price}}</p>
              </div>
            </div>
  </div>
        
    </div>
   
  </div>
</section>

{% schema %}
  {
    "name": "third name",
    "settings": [
                {
					"type": "image_picker",
					"id" : "image1",
					"label": "Image1"
				},
  				{
                    "type": "text",
                    "id":   "image1-name",
                    "label":"image1-name",
                    "default": "Lorem ipsum"
				},
  				{
                    "type": "text",
                    "id":   "image1-price",
                    "label":"image1-price",
                    "default": "Lorem ipsum"
				},
  
                {
					"type": "image_picker",
					"id" : "image2",
					"label": "Image2"
				},
  				{
                    "type": "text",
                    "id":   "image2-name",
                    "label":"image2-name",
                    "default": "Lorem ipsum"
				},
  				{
                    "type": "text",
                    "id":   "image2-price",
                    "label":"image2-price",
                    "default": "Lorem ipsum"
				},
                {
					"type": "image_picker",
					"id" : "image3",
					"label": "Image3"
				},
  				{
                    "type": "text",
                    "id":   "image3-name",
                    "label":"image3-name",
                    "default": "Lorem ipsum"
				},
  				{
                    "type": "text",
                    "id":   "image3-price",
                    "label":"image3-price",
                    "default": "Lorem ipsum"
				},
                {
					"type": "image_picker",
					"id" : "image4",
					"label": "Image4"
				},
  				{
                    "type": "text",
                    "id":   "image4-name",
                    "label":"image4-name",
                    "default": "Lorem ipsum"
				},
  				{
                    "type": "text",
                    "id":   "image4-price",
                    "label":"image4-price",
                    "default": "Lorem ipsum"
				},
        {
					"type": "image_picker",
					"id" : "image5",
					"label": "Image5"
				},
  				{
                    "type": "text",
                    "id":   "image5-name",
                    "label":"image5-name",
                    "default": "Lorem ipsum"
				},
  				{
                    "type": "text",
                    "id":   "image5-price",
                    "label":"image5-price",
                    "default": "Lorem ipsum"
				},
        {
					"type": "image_picker",
					"id" : "image6",
					"label": "Image6"
				},
  				{
                    "type": "text",
                    "id":   "image6-name",
                    "label":"image6-name",
                    "default": "Lorem ipsum"
				},
  				{
                    "type": "text",
                    "id":   "image6-price",
                    "label":"image6-price",
                    "default": "Lorem ipsum"
				},
        {
					"type": "image_picker",
					"id" : "image7",
					"label": "Image7"
				},
  				{
                    "type": "text",
                    "id":   "image7-name",
                    "label":"image7-name",
                    "default": "Lorem ipsum"
				},
  				{
                    "type": "text",
                    "id":   "image7-price",
                    "label":"image7-price",
                    "default": "Lorem ipsum"
				},
        {
					"type": "image_picker",
					"id" : "image8",
					"label": "Image8"
				},
  				{
                    "type": "text",
                    "id":   "image8-name",
                    "label":"image8-name",
                    "default": "Lorem ipsum"
				},
  				{
                    "type": "text",
                    "id":   "image8-price",
                    "label":"image8-price",
                    "default": "Lorem ipsum"
				},
  				{
                    "type": "text",
                    "id":   "heading-title",
                    "label":"Heading title",
                    "default": "Lorem ipsum"
				}
                ],
    "presets": [
				{
					"category": "pages",
					"name": "third-page"
				}
				]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
